{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Bem vindo ao </span> Liquida JP.</h1>
            </div>

            <div>
                <ul>
                    {% for mensagem in mensagens %}
                            <li>{{ mensagem}}</li>
                    {% endfor %}

                </ul>
            </div>

            <div id="next">

            </div>

        </div>
    </div>
{% endblock %}

